.intro-container {
  background-color: var(--eerie-black);
  height: 100vh;
  width: 100vw;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & #intro-title {
    text-align: center;
    color: #ebe6e6;
    font-size: 10vh;

    &:first-letter {
      color: #8fbc8f;
    }

    &:after {
      content: "_";
      margin-left: 10px;
      color: #ffffff;
      animation: blinking 0.9s infinite;

      @keyframes blinking {
        0% {
          opacity: 0;
        }
        49% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
      }
    }
  }

  & #intro-scrolldown-text {
    color: #ebe6e6;
    font-size: 5vh;
    position: absolute;
    bottom: 20%;
  }
}

@media (max-width: 700px) {
  .intro-container {
    & #intro-title {
      position: absolute;
      top: 40%;
      font-size: 12vw;
    }

    & #intro-scrolldown-text {
      font-size: 4vw;
    }
  }
}
