.projectsContainer {
  max-width: 100vw;
  height: 35rem;
  margin-left: 1em;
  margin-right: 1em;
  height: fit-content;
  display: flex;
  justify-content: center;

  .projectsCard {
    background-color: rgba(177, 243, 170, 0.25);
    width: 100%;
    margin: 2rem;
    border-radius: 5px;
    padding: 1em;

    .projectsCard-title {
      display: inline-block;
      width: fit-content;
      padding-left: 0.8rem;
      padding-top: 0.5rem;
      & p {
        font-size: 2em;
        font-weight: bold;
        overflow: hidden;
        /*letter-spacing: 0.3em;*/
        /*animation: typing 5s steps(9, end) infinite;*/
        /*
        @keyframes typing {
          from {
            width: 0;
          }
          to {
            width: 100%;
          }
        }
        */

        &:after {
          content: "_";
          margin-left: 10px;
          color: #ffffff;
          animation: blinking 1s infinite;

          @keyframes blinking {
            0% {
              opacity: 0;
            }
            49% {
              opacity: 0;
            }
            50% {
              opacity: 1;
            }
          }
        }
      }
    }

    .projectsCard-projects {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      overflow-x: scroll;

      & div {
        height: fit-content;
        padding: 1em;

        & p {
          text-align: center;
          font-weight: bold;
          text-transform: capitalize;
        }

        & img {
          width: 60vw;
        }
      }
    }
  }
}
