.welcome-container {
  width: 100%;
  height: 500px;

  .wavy-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .wavy {
    width: 50vw;
  }

  #wavy-left {
    transform: scaleY(-1);
  }

  #wavy-right {
    transform: scale(-1);
  }
}
