.welcome-container {
  max-width: 100vw;
  height: fit-content;

  .wavy-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .wavy {
      width: 50vw;
    }

    #wavy-left {
      transform: scaleY(-1);
    }

    #wavy-right {
      transform: scale(-1);
    }
  }

  .welcome-text-container {
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;

    #welcome-title:after {
      content: "_";
      margin-left: 10px;
      color: #ffffff;
      animation: blinking 1s infinite;

      @keyframes blinking {
        0% {
          opacity: 0;
        }
        49% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
      }
    }

    & p {
      font-size: larger;
      padding: 3em;
    }
  }
}
